# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/microsoft-questions/obj/Debug
/microsoft-questions/bin/Debug
/fsharp/text-line-breaks/bin/Debug
/fsharp/text-line-breaks/obj/Debug
/fsharp/text-line-breaks/.vs/text-line-breaks/v15
/fsharp/text-line-breaks/packages/System.ValueTuple.4.3.0
